html {
    color: #fff;
    background-color: #000;
    font-family: Helvetica;
}

.plus, .minus {
    background-color: #fff;
    color: #000;
    cursor: pointer;
}
.string {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 90%;
}

.string-fret {
    border-width: 1px 1px 0 0;
    border-color: #fff;
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.string-fret  {
    flex-basis: 3.57%;
}
.tuner {
    width: 27px;
}

.fret-num {
    position: absolute;
}

.string-fret .fret-note, .tuner {
    font-weight: 700;
    /*transition-delay: 2s;*/
    /*transition: opacity 0.2s ease-in;*/
    width: 27px;
    height: 27px;
    min-width: 27px;
    justify-content: center;
    align-items: center;
    display: flex;    
}

.string-fret .fret-note {
    color: #000;
    background: #f00;
    border-radius: 13px;
    /*width: 27px;
    height: 27px;*/
    opacity: 0;
}
/*
.string .fret-first  {
    flex-basis: 35px;
    border-width: 0px 1px 0px 0px;
}
*/

/*
.string::after {
    border-bottom: 1px solid #000;
    height: 1px;
    background-color: #fff;
    content: "";
}
*/
.bullet {
    position: absolute;
    font-size: 40px;
    cursor: default;
}


#scale-select {
    width: 192px;
    margin: 30px auto 30px auto;
}


@media (min-width: 768px) {
    .string-fret { 
        min-width: 40px;
        height: 40px;
    }
}

@media (max-width: 767px) and (min-width: 381px) {
    .string-container {
        font-size: 9px;
    }
    .string-fret .fret-note, .tuner {
        width: 15px;
        min-width: 15px;
        height: 15px;
    }
    .string-fret {
        height: 20px;
        min-width: 18px;
    }
}

@media (max-width: 380px) {
    .string {
        flex-direction: column;
        margin: 0;
        flex-basis: 35px;
    }
    .string-fret .fret-note {
        position: relative;
        right: 19px;
    }
    .string-fret {
        flex-basis: 40px;
    }
    .tuner {
        position: relative;
        right: 12px;
    }
    .string-container {
        display: flex;
        justify-content: center;
        flex-direction: row-reverse;
    }
    .string-last .string-fret {
        border-width: 1px 1px 0 1px;
    }
    .string-first .string-fret {
        border-color: transparent;
    }
    .string .fret-first {
        border-width: 0 0 0 0;
    }
    .string .fret-last {
        margin-bottom: 20px;
        border-bottom-width: 1px;
    }
    .plus {
        order: 1;
    }
    .minus {
        order: 3;
    }
    .tune-note {
        order: 2;
    }
    .fret-num {
        margin-left: 25px;
    }
}

@media (min-width: 381px) {
    /*.string {
        width: 90%;
    }
    */
    .fret-num {
        margin-bottom: 15px;
    }
    .string-fret.fret-first {
        border-width: 0 1px 0 0;
        margin-left: 15px;
    }
    .string-first .string-fret {
        border-color: transparent;
    }

    .tuner {
        top: 29px;
        position: relative;
    }
    .string-fret .fret-note {
        top: 21px;
        position: relative;
    }
    .string-last .string-fret {
        border-bottom: 1px solid #fff;
    }
    .string-last .string-fret.fret-first {
        border-bottom: 0px;
    }
}

